/* Layout general */
.dashboard-container {
  display: flex;
  min-height: 100vh;
  background-color: #e9ecf1;
  font-family: Arial, sans-serif;
}

/* Sidebar */
.sidebar {
  background-color: #f4f7fa;
  width: 240px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.sidebar.closed {
  width: 60px;
}

/* Logo intacto */
.logo-container {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.logo {
  max-width: 250px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.sidebar.closed .logo {
  max-width: 40px;
}

/* Botón toggle debajo del logo */
.toggle-container {
  padding: 10px;
  
}

.toggle-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #081c38;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  padding: 8px;
  width: 100%;
}

.toggle-btn img {
  width: 24px;
  height: 24px;
}

/* Lista del menú */
.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin-bottom: 25px;
  transition: background-color 0.3s ease;
}

.menu a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 20px;
  font-weight: bold;
  font-size: 14px;
  color: #081c38;
}

.menu li:hover {
  background-color: #cfd0d1;
}

.menu-icon {
  width: 27px;
  height: 27px;
  flex-shrink: 0;
}

/* Botón de cerrar sesión */
.logout-container {
  margin-top: auto;
  padding: 15px;
}

.logout-btn {
  width: 100%;
  background-color: #f4f7fa;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logout-btn:hover {
  background-color: #7f7dd8;
}

/* Contenido principal */
.main-content {
  flex: 1;
  padding: 20px;
}

/* Sidebar cerrado: ocultar texto pero mantener iconos */
.sidebar.closed .toggle-btn span,
.sidebar.closed .menu ul li a span,
.sidebar.closed .logout-btn span {
  display: none;
}

/* Centrar iconos al cerrar */
.sidebar.closed .toggle-btn,
.sidebar.closed .menu a,
.sidebar.closed .logout-btn {
  justify-content: center;
}
