body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom right, #f5faff, #eef3ff);
}

label {
  font-family: 'Segoe UI Semibold';
  font-size: 16px;
  color: #060e3a;
}

/* Contenedor principal de la página */
.register-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Encabezado que contiene el logo y títulos */
.register-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2px;
}

.register-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #3b82f6, #002a7f);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  animation: float 3s ease-in-out infinite;
  margin-bottom: 8px;
  margin-top: 15px;
}

.register-logo-img {
  width: 40px;
  height: 40px;
}

.register-header h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.register-header .register-subtitle {
  font-size: 14px;
  color: #6b7280;
  margin-top: 2px;
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  
  
}

.register-box {
  background-color: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  width: 350px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

.register-box form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.register-input-field {
  width: 100%;
  height: 45px;
  padding: 10px 40px 10px 12px; /* espacio para el ícono */
  margin-top: 7px;
  margin-bottom: 15px;
  border: 1px solid #cbd5e1;
  border-radius: 10px;
  font-size: 15px;
  box-sizing: border-box;
  outline: none;
}

.register-password-container {
  position: relative;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.register-toggle-password-icon {
  position: absolute;
  top: 45%;
  right: 12px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.register-button {
  margin-top: 2px;
  padding: 12px;
  border: none;
  border-radius: 12px;
  background: linear-gradient(to right, #001c45, #002a7f);
  color: white;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s ease;
}

.register-button:hover {
  background: linear-gradient(to right, #002a7f, #001c45);
}

.register-option {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.register-option a {
  color: #1d4ed8;
  text-decoration: none;
  font-weight: 500;
}

.register-option a:hover {
  text-decoration: underline;
}

.register-error {
  color: red;
  font-size: 13px;
  margin-top: 10px;
}

/* Animación del logo */
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-5px); }
  100% { transform: translateY(0px); }
}
